<!--<div class="container-fluid">-->
	<!--<div class="row">-->
		<!--<div class="{{leftColumn}}" style="{{display}}">-->
				<!--<ng-include src="leftTemplates"></ng-include>-->
		<!--</div>-->
		<!--<div class="{{centerColumn}}">-->
			<!--<div class="row" ng-if="centerTemplates">-->
				<!--<div class="col-md-1" style="max-width:0px!important;padding-left:10px!important;">-->
					<!--<a style="cursor: pointer;color:#666666!important;" ng-show="!hideLeft" ng-click="toggleLeftSideMenu()"><i class="fa fa-arrow-left "></i></a>-->
					<!--<a style="cursor: pointer;color:#666666!important;" ng-show="hideLeft" ng-click="toggleLeftSideMenu()"><i class="fa fa-arrow-right "></i></a>-->
				<!--</div>-->
				<!--<div class="col-md-11">-->

					<!--<div class="row" ng-if="centerTemplates">-->
						<!--<div id="page_switcher">-->
							<!--<div class="onoffswitch pull-right">-->
								<!--<input type="checkbox" class="toggleBtn onoffswitch-checkbox" checked="" id="onoffswitch6" ng-click="toggleCMSHOMEPages()">-->
								<!--<label for="onoffswitch6" class="onoffswitch-label">-->
									<!--<div class="onoffswitch-inner" style=""></div>-->
									<!--<div class="onoffswitch-switch" style="">-->
									<!--</div>-->
								<!--</label>-->
							<!--</div>-->

						<!--</div>-->
					<!--</div>-->
					<!--<ng-include src="centerTemplates"></ng-include>-->
				<!--</div>-->
			<!--</div>-->

		<!--</div>-->

		<!--<div class="col-md-2 col-xs-2">-->
			<!--<ng-include src="rightTemplates"></ng-include>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->